@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Yesteryear&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #53131e;
  --secondary: #ef5b5b;
  --accent: #20a39e;
}

body {
  background: #fbf7f4;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  height: 2em;
  width: 100%;
  padding: 2em 4em;
  background: rgba(239, 91, 91, 0.3);
  position: fixed;
}

h1 {
  font-family: "Audiowide", sans-serif;
  color: var(--primary);
}

main {
  padding-top: 6em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.card {
  width: 100%;
  max-width: 800px;
  padding: 2em;
  border: 1px solid var(--primary);
  border-radius: 10px;
  background: #FAF9F6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card h2{
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

.card p{
    margin: 1em 0;
}

.card hr {
    background-color: var(--primary);
    height: .3em;
    border: none;
    border-radius:20%;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  section {
    padding: 1em;
  }

  .card {
    padding: 1.5em;
  }
}
